# A/B Testing for ShoeFly.com

In [1]:
import requests
import pandas as pd

url = 'https://github.com/Giofabro/exercise-data-analysis/raw/main/Data_Repository/Excel1.xlsx'
response = requests.get(url)
open('Excel1.xlsx', 'wb').write(response.content)

ad_clicks = pd.read_excel('Excel1.xlsx')

## --- Analysis Data ---

First, let's start by understanding a few things. 
Let's examine the first few rows of our dataframe!

In [2]:
print(ad_clicks.head())

   Unnamed: 0                               user-id utm_source           day  \
0           0  008b7c6c-7272-471e-b90e-930d548bd8d7     google  6 - Saturday
1           1  009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook    7 - Sunday
2           2  00f5d532-ed58-4570-b6d2-768df5f41aed    twitter   2 - Tuesday
3           3  011adc64-0f44-4fd9-a0bb-f1506d2ad439     google   2 - Tuesday
4           4  012137e6-7ae7-4649-af68-205b4702169c   facebook    7 - Sunday

  ad_click_timestamp experimental_group
0           07:18:00                  A
1                NaN                  B
2                NaN                  A
3                NaN                  B
4                NaN                  B

Piccolo errore. Rinominiamo colonna 'user-id' con 'user_id'

In [3]:
ad_clicks.rename(columns ={'user-id': 'user_id'}, inplace = True)

We evaluate which platform had more visits.

In [4]:
mayor_utm_source = ad_clicks.groupby('utm_source').user_id.count().reset_index()

print(mayor_utm_source)

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

Google is the winner! Well, let's proceed with the analysis. We want to know the percentage of people who clicked on the ads in each utm_source.

We start by grouping by utm_source and is_click and counting the number of user_ids in each of these groups. We save the answer in the clicks_by_source variable.

In [5]:
ad_clicks['is_click'] = ~ad_clicks.ad_click_timestamp.isnull()

clicks_by_source = ad_clicks\
   .groupby(['utm_source',
             'is_click'])\
   .user_id.count()\
   .reset_index()

Now let's pivot the data so that the columns are is_click (either True or False), the index is utm_source, and the values are user_id.

In [6]:
clicks_pivot = clicks_by_source.pivot(
    index='utm_source',
    columns='is_click',
    values='user_id').reset_index()

We create a new column in clicks_pivot called percent_clicked that is equal to the percentage of users who clicked on the ad from each utm_source.

In [7]:
clicks_pivot['percent_clicked'] = \
   clicks_pivot[True] / \
   (clicks_pivot[True] + 
    clicks_pivot[False])

In [8]:
print(clicks_pivot)

is_click utm_source  False  True  percent_clicked
0             email    175    80         0.313725
1          facebook    324   180         0.357143
2            google    441   239         0.351471
3           twitter    149    66         0.306977

## --- A/B Test ---

In [9]:
ad_clicks.groupby('experimental_group').user_id.count().reset_index()

  experimental_group  user_id
0                  A      827
1                  B      827

In [10]:
ad_clicks.groupby(['experimental_group', 'is_click']).user_id.count().reset_index()\
.pivot(
index = 'experimental_group',
columns = 'is_click',
values = 'user_id'
).reset_index()

is_click experimental_group  False  True
0                         A    517   310
1                         B    572   255

Let's analyze group A and B. Let's make two new dataframes.

In [11]:
a_ad_clicks = ad_clicks[ad_clicks.experimental_group == 'A']
b_ad_clicks = ad_clicks[ad_clicks.experimental_group == 'B']

Let us now use pivots.

In [12]:
a_clicks_pivot = a_ad_clicks.groupby(['is_click', 'day']).user_id.count().reset_index()\
.pivot(
index = 'day',
columns = 'is_click',
values = 'user_id'
).reset_index()

a_clicks_pivot['percent_clicked'] = \
a_clicks_pivot[True] / \
(a_clicks_pivot[True] + a_clicks_pivot[False])

print(a_clicks_pivot)

is_click            day  False  True  percent_clicked
0            1 - Monday     70    43         0.380531
1           2 - Tuesday     76    43         0.361345
2         3 - Wednesday     86    38         0.306452
3          4 - Thursday     69    47         0.405172
4            5 - Friday     77    51         0.398438
5          6 - Saturday     73    45         0.381356
6            7 - Sunday     66    43         0.394495

Now it's B's turn. We simply copy by replacing A with B

In [13]:
b_clicks_pivot = b_ad_clicks.groupby(['is_click', 'day']).user_id.count().reset_index()\
.pivot(
index = 'day',
columns = 'is_click',
values = 'user_id'
).reset_index()

b_clicks_pivot['percent_clicked'] = \
b_clicks_pivot[True] / \
(b_clicks_pivot[True] + b_clicks_pivot[False])

print(b_clicks_pivot)

is_click            day  False  True  percent_clicked
0            1 - Monday     81    32         0.283186
1           2 - Tuesday     74    45         0.378151
2         3 - Wednesday     89    35         0.282258
3          4 - Thursday     87    29         0.250000
4            5 - Friday     90    38         0.296875
5          6 - Saturday     76    42         0.355932
6            7 - Sunday     75    34         0.311927